<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap"
    rel="stylesheet">
  <title>Cover</title>

  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  </style>
</head>

<body>
  <div style="
    width: 1050px;
    height: 710px;
    margin-left: -10px;
    margin-top: -7px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #515da8;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    display: inline-flex;
  ">
    <div style="
      text-align: center;
      color: white;
      font-size: 48px;
      font-family: 'Big Shoulders Display';
      font-weight: 700;
      letter-spacing: 1px;
      word-wrap: break-word;
      margin-bottom: 210px;
    ">
      Proposition d'implantation
    </div>
    <img style="width: 125px; height: 65px" src="{{logo}}" />
  </div>
</body>

</html>
