<html>

<head></head>

<body style="margin: 0;">
    <div
        style="border:none;background:url('{{bg}}');background-size:cover;display: table;width:100%;height:100%;text-align:center">
        <div style="vertical-align: middle; display: table-cell">
            <h2 style="
            margin-top: 60px;
            color: white;
            font-size: 35px;
            font-family: sans-serif;
          ">
                {{docTitle}}
            </h2>
        </div>
    </div>
</body>

</html>